<% if @success %>
	window.location = "/admins/sign_in"
<% else %>
	$("#error")[0].innerHTML = '<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button><%= @message %>	</div>'
<% end %>