<center><h3><%= @user.name %> Profile</h3></center>
<%= render 'form' %>
<script>
    $(function(){
  $(".form-control, .btn-primary").attr("disabled", true);
  $("#profile_icard").attr("disabled", true);
  $("#profile_photo").attr("disabled", true);
  
});
</script>