<div class="col-md-offset-5 col-md-5">
    <h1 >Users</h1>
</div>
<br/>
<div class="container">
     <table cellpadding="0" cellspacing="0" border="0" class="display table" width="100%" id="table" data-source="<%= forums_url(format: "json", :type=>params[:type]) %>">
        <thead>
            <tr>
                <th>Question</th>
                <th>UserName</th>
                <th>Phone no</th>
                <th>Designation</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
        </thead>
    <tbody>
      
    </tbody>
  </table>
  </div>

  

  